apiVersion: v1
kind: Service
metadata:
  name: nginx-test
  namespace: domain-test
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 80
  selector:
    run: nginx
---
apiVersion: v1
kind: Pod
metadata:
  labels:
    run: nginx
  name: nginx
  namespace: domain-test
spec:
  containers:
  - image: nginx
    name: nginx
    resources: {}
  dnsPolicy: ClusterFirst
  restartPolicy: Always
status: {}