# jellyfin-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: jmedia
  labels:
    app: jellyfin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      nodeSelector:
        role2: plex
      containers:
        - name: jellyfin
          image: jellyfin/jellyfin:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8096
              protocol: TCP
            - name: https
              containerPort: 8920
              protocol: TCP
            - name: discovery
              containerPort: 7359
              protocol: UDP
            - name: dlna
              containerPort: 1900
              protocol: UDP
          volumeMounts:
            - name: config
              mountPath: /config
            - name: cache
              mountPath: /cache
            - name: movies
              mountPath: /media/movies
              readOnly: true
            - name: series
              mountPath: /media/series
              readOnly: true
          readinessProbe:
            httpGet:
              path: /
              port: 8096
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8096
            initialDelaySeconds: 60
            periodSeconds: 20

      volumes:
        - name: config
          hostPath:
            path: /media/jellyfin/config
            type: DirectoryOrCreate
        - name: cache
          hostPath:
            path: /media/jellyfin/cache
            type: DirectoryOrCreate
        - name: movies
          hostPath:
            path: /media/plex/movies
            type: Directory
        - name: series
          hostPath:
            path: /media/plex/series
            type: Directory
