apiVersion: apps/v1
kind: Deployment
metadata:
  name: gameoflife
  namespace: gameoflife
  labels:
    app: gameoflife
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gameoflife
  template:
    metadata:
      labels:
        app: gameoflife
    spec:
      imagePullSecrets:
        - name: ghcr-pull
      containers:
        - name: gameoflife
          image: ghcr.io/jacquesehlers/gol:1.0.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 2
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
